body{
    line-height: 1.4;
    background-color: #eee;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, img {
    margin: 0px;
    padding: 0px;
}

.header{
    padding-top: 13px;
    padding-bottom: 13px;
    background: white;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    align-items: baseline;
    /* justify-content: ; */
}

.logo{
    margin: 0px;
    padding: 0px;
    width: 26px;
    height: 26px;
}

.reklama{
    text-align: center;
    margin-top: 20px;
}

.regions_link{
    margin-left: 10px;
    color: #666;
    text-decoration: none;
}
.regions_link:hover{
    color: red;
}

.toshkent_link{
    text-decoration: none;
    color: #666;
}

.toshkent_link:hover{
    color: red;
}

.father_div{
    display: flex;
}

.h1_wather{
    margin: 0px; 
    padding: 0px;
}

.language{
    margin-left: auto;
}




.div_1_weather {
    color: #666;
    margin-bottom: 5px;
}

.div_2_weather_img {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    border-top: 1px solid #666;
}

.a_news{
    color: royalblue;
    text-decoration: none;
    font-size: 14px;
}

.a_news:hover{
    color: red;
}

.footer_div{
    margin-left: 140px;
    margin-bottom: 20px;
}

.a_div{
    text-decoration: none; 
    color: cornflowerblue;
}

.a_div:hover{
    color: red;
}

.logo_weather{
    text-decoration: none;
    display: flex; 
    color: black;
}
