{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://obhavo.uz/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather.uz</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <div class="header">
      <div class="father_div">
        <!-- <img src="./images/logo.png" class="logo"> -->
        <a class='logo_weather' href="{% url 'app_1_index' %}">
          <img src="{% static 'images/sun_icon.png' %}" class="logo">
          <h1 class="h1_wather"><b>Ob-havo</b></h1>
        </a>
      </div>
      <div class="language">
        <a href="#" style="text-decoration: none; margin-right: 7px; color: black;">
          <img style="width: 25px; height: 15px;" alt="/" src=" {% static 'images/rus_flag.jpg' %} ">
          <small>RUS</small>
        </a>
        <a href="#" style="text-decoration: none; color: black;">
          <img style="width: 25px; height: 15px;" alt="/" src="{% static 'images/uzb_flag.png' %}">
          <small>UZB</small>
        </a>
      </div>
    </div>
  </header>
    <div class="reklama">
      <a href="#"><img alt="/" src="{% static 'images/rek.jpeg' %}"></a>
    </div>
    <div style="margin-top: 20px; margin-left: 130px;">
      <a href="{% url 'app_1_tosh' %}"  class="toshkent_link">Toshkent</a>
      <a href="{% url 'app_1_and' %}" class="regions_link">Andijon</a>
      <a href="#" class="regions_link">Buxoro</a>
      <a href="#" class="regions_link">Guliston</a>
      <a href="#" class="regions_link">Jizzax</a>
      <a href="#" class="regions_link">Zarafshon</a>
      <a href="#" class="regions_link">Qarshi</a>
      <a href="#" class="regions_link">Navoi</a>
      <a href="#" class="regions_link">Namangan</a>
      <a href="#" class="regions_link">Nukus</a>
      <a href="#" class="regions_link">Samarqand</a>
      <a href="#" class="regions_link">Termiz</a>
      <a href="#" class="regions_link">Urganch</a>
      <a href="#" class="regions_link">Farg`ona</a>
      <a href="#" class="regions_link">Xiva  </a>
    </div>

    <div style="display: flex; margin-left: 130px; margin-right: 130px; margin-top: 20px;">
      <div style="padding: 12px; background-color: white; width: 35%; height: 100%;">
          <div>
            <h2 style="font-weight: bolder;">Toshkent</h2>
            <p style="font-size: 15px;">Bugun, 23 noyabr</p>
          </div>
          <div style="display: flex; align-items: center; margin: 15px 0px 15px 0px;">
            <img alt="/" src="https://obhavo.uz/images/icons/clear.png" style="width: 60px; height: 60px;">
            <p style="font-size: 40px; margin: 0px 15px 0px 15px;">+18°</p>
            <p style="font-size: 30px; color: #666;">+5°</p>
          </div>
          <div>
            <p style="font-size: 20px;">Ochiq havo</p>
            <hr>
            <br>
            <div style="display: flex; padding-right: 15px;">
              <div style="margin-right: 20px;">
                <p class="div_1_weather">Namlik: 58%</p>
                <p class="div_1_weather">Shamol: Shimoli-sharqiy, 7 m/s</p>
                <p class="div_1_weather">Bosim: 765 mm sim. ust.</p>
              </div>
              <div style="align-items: flex-start; margin-left: auto;">
                <p class="div_1_weather">Oy: Qisqarayotgan oy</p>
                <p class="div_1_weather">Quyosh chiqishi: 07:22</p>
                <p class="div_1_weather">Quyosh botishi: 16:59</p>
              </div>
            </div>
            <br>
            <hr>
            <div style="display: flex; justify-content: space-around;">
              <div style="text-align: center;">
                <p>Tong</p>
                <img alt="/" src="https://obhavo.uz/images/icons/clear.png" style="width: 50px; height: 50px; margin: 5px 0px 5px 0px;">
                <p>7°</p>
              </div>
              <div style="text-align: center;">
                <p>Kun</p>
                <img alt="/" src="https://obhavo.uz/images/icons/clear.png" style="width: 50px; height: 50px; margin: 5px 0px 5px 0px;">
                <p>17°</p>
              </div>
              <div style="text-align: center;">
                <p>Oqshom</p>
                <img alt="/" src="https://obhavo.uz/images/icons/partlycloudy.png" style="width: 50px; height: 50px; margin: 5px 0px 5px 0px;">
                <p>11°</p>
              </div>
              <div></div>
            </div>
          </div>
      </div>
      <div style="width: 35%;  height: 100%; margin-left: 20px; padding: 10px 10px 0px 10px; background-color: white;">
        <h2>Haftalik ob-havo ma`lumotlari</h2>
        <table>
          <thead>
            <tr>
              <td style="padding-top: 20px; color: #666;">Kun</td>
              <td style="padding-top: 20px; color: #666; text-align: center; margin-left: 40px;">Harorat</td>
              <td style="padding-top: 20px; color: #666; text-align: center;">Tavsif</td>
              <td style="padding-top: 20px; color: #666;">Yog`ingarchilik</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-top: 5px; border-top: 1px solid #666;"><h3>Ertaga</h3>
                <small style="color: #666;"><h3>25-noyabr</h3></small>
              </td>
              <td class="div_2_weather_img">
                <div>
                  <img alt="/" src="https://obhavo.uz/images/icons/partlycloudy.png" style="width: 50px; height: 50px;">
                </div>
                <div>
                  <h3>+18°</h3>
                  <p>+5°</p>
                </div>
              </td>
              <td style="width: 20%; text-align: center;  border-top: 1px solid #666;">joylarda bulutli</td>
              <td style="text-align: center;  border-top: 1px solid #666;">0%</td>
            </tr>
            <tr>
              <td style="padding-top: 5px; border-top: 1px solid #666;"><h3>Juma</h3>
                <small style="color: #666;"><h3>26-noyabr</h3></small>
              </td>
              <td class="div_2_weather_img">
                <div>
                  <img alt="/" src="https://obhavo.uz/images/icons/rain.png" style="width: 50px; height: 50px;">
                </div>
                <div>
                  <h3>+7°</h3>
                  <p>+1°</p>
                </div>
              </td>
              <td style="width: 20%; text-align: center;  border-top: 1px solid #666;">Yomg`ir</td>
              <td style="text-align: center;  border-top: 1px solid #666;">93%</td>
            </tr>
            <tr>
              <td style="padding-top: 5px; color: red; border-top: 1px solid #666;"><h3>Shanba</h3>
                <small style="color: #666;"><h3>27-noyabr</h3></small>
              </td>
              <td class="div_2_weather_img">
                <div>
                  <img alt="/" src="https://obhavo.uz/images/icons/clear.png" style="width: 50px; height: 50px;">
                </div>
                <div>
                  <h3>+9°</h3>
                  <p>+1°</p>
                </div>
              </td>
              <td style="width: 20%; text-align: center;  border-top: 1px solid #666;">Ochiq havo</td>
              <td style="text-align: center;  border-top: 1px solid #666;">0%</td>
            </tr>
            <tr>
              <td style="padding-top: 5px; color: red; border-top: 1px solid #666;"><h3>Yakshanba</h3>
                <small style="color: #666;"><h3>28-noyabr</h3></small>
              </td>
              <td class="div_2_weather_img">
                <div>
                  <img alt="/" src="https://obhavo.uz/images/icons/partlycloudy.png" style="width: 50px; height: 50px;">
                </div>
                <div>
                  <h3>+12°</h3>
                  <p>+2°</p>
                </div>
              </td>
              <td style="width: 20%; text-align: center; border-top: 1px solid #666;">Joylarda bulutli</td>
              <td style="text-align: center; border-top: 1px solid #666;">0%</td>
            </tr>
            <tr>
              <td style="padding-top: 5px; border-top: 1px solid #666;"><h3>Dushanba</h3>
                <small style="color: #666;"><h3>29-noyabr</h3></small>
              </td>
              <td class="div_2_weather_img">
                <div>
                  <img alt="/" src="https://obhavo.uz/images/icons/partlycloudy.png" style="width: 50px; height: 50px;">
                </div>
                <div>
                  <h3>+15°</h3>
                  <p>+3°</p>
                </div>
              </td>
              <td style="width: 20%; text-align: center;  border-top: 1px solid #666;">Ochiq havo</td>
              <td style="text-align: center;  border-top: 1px solid #666;">0%</td>
            </tr>
            <tr>
              <td style="padding-top: 5px; border-top: 1px solid #666;"><h3>Seshanba</h3>
                <small style="color: #666;"><h3>30-noyabr</h3></small>
              </td>
              <td class="div_2_weather_img">
                <div>
                  <img alt="/" src="https://obhavo.uz/images/icons/cloudy.png" style="width: 50px; height: 50px;">
                </div>
                <div>
                  <h3>+18°</h3>
                  <p>+5°</p>
                </div>
              </td>
              <td style="width: 20%; text-align: center; border-top: 1px solid #666;">Ochiq havo</td>
              <td style="text-align: center; border-top: 1px solid #666;">0%</td>
            </tr>
            <tr>
              <td style="padding-top: 5px; border-top: 1px solid #666;"><h3>Chorshanba</h3>
                <small style="color: #666;"><h3>1 dekabr</h3></small>
              </td>
              <td class="div_2_weather_img">
                <div>
                  <img alt="/" src="https://obhavo.uz/images/icons/clear.png" style="width: 50px; height: 50px;">
                </div>
                <div>
                  <h3>+19°</h3>
                  <p>+8°</p>
                </div>
              </td>
              <td style="width: 20%; text-align: center; border-top: 1px solid #666;">Ochiq havo</td>
              <td style="text-align: center; border-top: 1px solid #666;">0%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="width: 25%; margin-left: 20px; padding: 10px 10px 0px 10px; background-color: white;">
        <h2>Yangiliklar</h2>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">Sello O‘zbekistondagi internet-savdo maydonining afzalliklari haqida so‘zlab berdi</a>
          <h5 style="font-weight: lighter; color: #666;">Bugun, 9:00</h5>
        </div>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">23 noyabr kuni O‘zbekistonda sodir bo‘lgan eng muhim xabarlar dayjesti</a>
          <h5 style="font-weight: lighter; color: #666;">Kecha, 21:28</h5>
        </div>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">Jahon yangiliklari dayjesti</a>
          <h5 style="font-weight: lighter; color: #666;">Kecha, 21:08</h5>
        </div>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">95 yoshli otaxon bilan suhbat, maktabga tashrif, keksalar bilan ko‘chat o‘tqazish, yosh bola bilan tanishuv — prezident poytaxt mahallalarini aylandi</a>
          <h5 style="font-weight: lighter; color: #666;">Kecha, 18:41</h5>
        </div>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">Bolgariyada sayyohlar avtobusi YTHga uchrashi oqibatida 46 kishi halok bo‘ldi</a>
          <h5 style="font-weight: lighter; color: #666;">Kecha, 17:56</h5>
        </div>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">Odam savdosi bilan shug‘ullanadiganlar ro‘yxati yuritiladi</a>
          <h5 style="font-weight: lighter; color: #666;">Kecha, 17:53</h5>
        </div>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">Toshkent viloyatida ikki tadbirkor 100 ming xonadonning bir kunlik iste’moliga teng tabiiy gazdan noqonuniy foydalangan</a>
          <h5 style="font-weight: lighter; color: #666;">Kecha, 17:22</h5>
        </div>
        <div style="margin: 15px 0px 15px 0px;">
          <a href="#" class="a_news">Toshkentda «Aviatsiya sohilbo‘yi» paydo bo‘ladi</a>
          <h5 style="font-weight: lighter; color: #666;">Kecha, 16:40</h5>
        </div>
      </div>
    </div>
  <footer>
    <div>
      <div class="footer_div">
        <a href="#" class="a_div">Reklama joylashtirish</a> | Malumotlar 
        <a href="#" class="a_div">Dark Sky</a>
      </div>
    </div>
  </footer>
</body>
</html>

<!-- 974869828 -->